@model IEnumerable<DbAcess.Models.User>

@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     
    <div>
        <h4>@ViewData["Title"]</h4>
        
        @foreach (var item in Model)
        {

          <div class="row">
                <div class="column">  @Html.DisplayFor(modelItem => item.Email)</div>
                <div class="column">  @Html.DisplayFor(modelItem => item.Telephone)</div>
                <hr/>
          </div>
       
            
        }
    </div>

</div>
